<!DOCTYPE html>
<html>
<head>
    <title>Registration completed</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Account created</h1>
    <p>Your account has been created successfully. You can now log in by clicking the button below.</p>

    <a href="/login">
        <button>Go to Login</button>
    </a>
</body>
</html>
